<!--<h1>Home#index</h1>-->
<!--<h2>Tesla model 3 homepage</h2>-->
<!--<p>Find me in app/views/home/index.html.erb</p>-->
<head>
  <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
</head>
<section id="model3-gallery" class="section-container section-gallery" data-assettype="model3">
    <div class="gallery-container">
    <%= image_tag('tesla_wide.jpg',id:'tesla_wide') %>
    </div>
</section>

