<%= image_tag('model3_home.jpg', :id=>'sunshine') %>
<div id='superchargerIntro'>
  <%= image_tag('supercharger.png', :id=>'superchargerPic') %>
  <p class='explain'>All Model3s come standard with hardware for supercharging. Every model 3 owner also gets 400kWh credit for using superchargers for free.</p>
  <p class='explain'>A network of dedicated superchargers have been installed in and around major cities in North America, Europe, and Asia Pacific. We plan to double the number of superchargers by 2018.</p>
</div>

<div id='homechargerIntro'>
  <%= image_tag('homecharger',:id=>'homechargerPic') %>
  <p class='explain'>About 90% of charging occurs at home. You can fully charge a model 3 at home using a professionally installed level 2 charger in about 7 hours.</p>
</div>

<div style='width: 15%;margin-left:47.5%;margin-top:2em'>
  <a href='/model3/new'>Design Studio</a>
</div>










