// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dt {
width: 40px;
height: 2px;
display: inline-block;
overflow: hidden;
margin-left:5px;
margin-right:5px
}

dd {
display: inline-block;
width: 4em;
margin: 0 0 0 0em;
}

.smallBattery {background-color: #FF0000; color: #FF0000; border: 1px solid #FF0000}
.mediumBattery {background-color: #ff9900; color: #ff9900; border: 1px solid #FF9900 }
.largeBattery {background-color: #00cc66; color: #00cc66; border: 1px solid #00CC66}

dt.smallBattery {margin-left:25px}

#battery_selector{
  margin-top: 60px;
  height: 40px;
  margin-left: 20%;
}

#drive_selector{
  margin-left: 0;
  margin-top: 300px;
}


#tesla_battery {
  float:right;
  margin-right:30%;
  margin-top: -100px;
}

#drive_train_img {
  float:right;
  margin-right:20%;
  margin-top: 20px;
}

#color_selector{
  margin-top: 250px;
}

#sd_selector{
  margin-top: 200px;
  width: 500px;
  border:        1px solid #ccc;
  border-radius: 5px;
}

#ap_selector{
  margin-top: 200px;
  width: 500px;
  border:        1px solid #ccc;
  border-radius: 5px;
}

.batteryButton {
  margin-top: 15px;
  margin-buttom: 15px;
}

