// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confirm_order{
  width:50%;
  text-align:center;
  margin:auto;
}

#carDescription{
  margin:auto;
  margin-top:1em;
  padding-top: 1em;
}