// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App


// Global
body {
  padding-top: 70px;
}

img.logo{
  margin: 4px;
}

#signupLink{
  margin-right: 5px;
  margin-top: 40px;
  float:right;
}
#loginLink{
  margin-right: 5px;
  margin-top: 40px;
  float:right;
}
#logoutLink{
  margin-right: 5px;
  margin-top: 40px;
  float:right;
}
.OfficialTeslaLink{
  color: black;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%
}
#all_user_reviews{
  float:right;
  width: 40%;
  margin:auto;
}

#sunshine{
  width:60%;
  height: 600px;
  margin-left:20%;
}

#superchargerIntro{
  width: 16%;
  float:right;
  margin:auto;
  margin-top:1em;
  margin-bottom:1em;
  margin-right:2%;
  border: 1px solid grey;
  border-radius: 5px;
}

#superchargerPic{
  width: 40%;
  margin-left: 30%;
  height: 90px;
  text-align:center;
}

#homechargerIntro{
  float:right;
  width: 16%;
  margin:auto;
  margin-right:2%;
  margin-top: -16em;
  border: 1px solid grey;
  border-radius: 5px;
}

#homechargerPic{
  width: 40%;
  margin-left:30%;
  height: 100px;
}

p.explain{
  margin-left:1em;
  margin-right:1em;
}