<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <img src="../../assets/images/tesla_log.png"height="42" width="42">
        <li>
          <%= link_to 'Tesla', :root %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li>
            <%= link_to cart_path do %>
              <%= fa_icon "shopping-cart" %> My Cart (<%= cart.size %>)
            <% end %>
          </li>
        <% else %>
        <% end  %>
      </ul>
    </div>
  </div>
</nav>