<nav class="navbar navbar-default navbar-fixed-top">
<%= link_to(image_tag('tesla_logo.png',height: '62', width: '62',:class=>"logo"),'/') %>
<% if session[:user_id] %>
  <a href='/logout' id="logoutLink">Logout</a>
<% else %>
  <a href='/signup' id="signupLink">Signup</a>
  <a href='/login' id="loginLink">Login</a>
<% end  %>
<a href='https://www.tesla.com/en_CA/models' class="OfficialTeslaLink">Model S</a>
<a href='https://www.tesla.com/en_CA/modelx' class="OfficialTeslaLink">Model X</a>
<a href='/model3' class="OfficialTeslaLink">Model 3</a>
<% if session[:user_id] %>
  <a href='/mycars' class="OfficialTeslaLink">My Teslas</a>
<% end %>
<a href='/allReviews' class="OfficialTeslaLink">Customer Reviews</a>
  <div class="container">
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li>
          </li>
        <% else %>
        <% end  %>
      </ul>
    </div>
  </div>
</nav>